{{ partial "header" . }}

<main>

    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=669441382/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://vincentgiles.bandcamp.com/album/live-at-lebowskis-may-17th-2020">Live at Lebowskis | May 17th, 2020 by Vincent Giles</a></iframe>
        {{ .Site.Params.featureCMP }} - <i>{{ .Site.Params.featureTITLE }}</i> ({{ .Site.Params.featureYEAR }})
        <h1>{{ .Site.Title }}</h1>
        
        <h2><a href="/works/">Composer</a> | <a href="/about/">Performer</a> | <a href="/research/">Scholar</a> | <a href="https://www.patreon.com/vincentgiles">Patron Me</a></h2><br /> >> <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Buy me a coffee', '#819096', 'L4L21PZQ4');kofiwidget2.draw();</script></h1>

        <p>I live and work on the lands of the Wurundjeri people of the Kulin Nations, and acknowledge them as the traditional owners. I pay my respects to their Elders past, present, and emerging. Sovereignty has never been ceded. </p>
        <!-- Feature thing on landing page -->
    </div>

</main>

{{ partial "footer" . }}

