{{ partial "header" . }}

<main>

    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <iframe width="280" height="157.5" src="https://www.youtube.com/embed/j6LbX4E-EHo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
        Vincent Giles - <i>vgst1</i> (2019)
        <h1>{{ .Site.Title }}</h1>
        
        <h2><a href="/works/">Composer</a> | <a href="/about/">Performer</a> | <a href="/research/">Scholar</a></h2><br />
        <!-- Feature thing on landing page -->

        Website currently under reconstruction.
    </div>

</main>

{{ partial "footer" . }}
