{{ partial "header" . }}

<main>

    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <iframe width="392" height="252" src="https://www.youtube.com/embed/xgzgB8QHOUs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe><br />
        {{ .Site.Params.featureCMP }} - <i>{{ .Site.Params.featureTITLE }}</i> ({{ .Site.Params.featureYEAR }})
        <h1>{{ .Site.Title }}</h1>
        
        <h2><a href="/works/">Composer</a> | <a href="/about/">Performer</a> | <a href="/research/">Scholar</a> | <a href="https://vincentgiles.bandcamp.com/subscribe">Patron Me</a></h2><br />
        <!-- Feature thing on landing page -->
    </div>

</main>

{{ partial "footer" . }}

